<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic,vietnamese" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>

<div th:replace="navi/navbar"></div>
<div class="container">
    <div class="text-center">
    <h1>Regulamin</h1></div>
    <div class="text-center-left">
        <h4>Restauracja „Faradenza” mieści się w Gdańsku przy ul. Zaliczeniowa 5.</h4>
        <h4>Na teren restauracji składa się: budynek restauracji, teren przylegający do restauracji(ogród) oraz parking. Niniejszy regulamin obowiązuje na terenie całego obiektu.</h4>
        <h4>Każdy z gości restauracji „Faradenza” jest zobowiązany do zapoznania się i przestrzegania niniejszego regulaminu. Przebywanie na terenie restauracji jest jednoznaczne z przyjęciem warunków niniejszego regulaminu.</h4>
        <h4>Reklamacje dotyczące potraw uwzględnia się wyłącznie podczas konsumpcji, a nie po jej zakończeniu.</h4>
        <h4>Restauracja „Faradenza” nie ponosi żadnej odpowiedzialności za szkody powstałe w wyniku nierozważnego zachowania, a zwłaszcza skaleczenia bądź innego rodzaju uszkodzenia ciała nabyte podczas przebywania na terenie restauracji.</h4>
        <h4>Za rzeczy pozostawione bez opieki na terenie restauracji nie odpowiadamy.</h4>
        <h4>Za dzieci przebywające na terenie restauracji odpowiadają rodzice lub opiekunowie. Za dzieci pozostawione bez opieki restauracja nie ponosi żadnej odpowiedzialności.</h4>
        <h4>Osoby nietrzeźwe mogą pozostać nie obsłużone. Pracownicy restauracji mogą wyprosić osobę nietrzeźwą z terenu restauracji.</h4>
        <h4>Osobom poniżej 18 roku życia alkoholu nie sprzedajemy. Osobom nietrzeźwym alkoholu nie sprzedajemy.</h4>
        <h4>Wstęp do restauracji „Faradenza” oznacza zgodę klienta na fotografowanie i filmowanie oraz bezpłatne wykorzystywanie jego wizerunku przez restaurację do celów marketingowych. Osoby nie wyrażające na to zgody proszone są o zgłoszenie tego faktu obsłudze.</h4>
        <h4>Każdy gość restauracji, który łamie prawo lub regulamin restauracji, niszczy jej mienie będzie ponosił konsekwencje finansowe, karne oraz</h4>
        <h4>Kartę rabatową gość restauracji jest obowiązany pokazać przed dokonaniem zamówienia. Obsługa może nie uwzględnić rabatu jeżeli karta została okazana w późniejszym okresie.</h4>
        <h4>Regulamin jest podany do publicznej wiadomości na str. internetowej https://guarded-earth-39191.herokuapp.com/?fbclid=IwAR31eeKuI_szkQUagRKzThKEA-o4KOQKHL-GSMHOvv9E6upkTXgOoxQqsHA oraz jest dostępny w restauracji „Faradenza” przy ul. Zaliczeniowej 2, 95-002 Gdańsk.</h4>
        <h4>Restauracja „Faradenza” nie odpowiada za błędy w druku materiałów promocyjnych, ulotek, broszur informacyjnych itp.</h4>
        <h4>Restauracja „Faradenza” zastrzega sobie prawo do zmiany niniejszego regulaminu w dowolnym czasie bez podania przyczyny.</h4>
        <h4>Regulamin obowiązuje od 01.12.2018r.</h4>
    </div>
</div>
<div th:replace="navi/footer"></div>
</body>
</html>