@import url(../images/restaurant.jpg);

body{
    background-color: #5e91f2;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.my-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #CCFFCC;
}
.text-block {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: black;
    color: white;
}

.module {
    width: auto;
    height: auto;

    background: url(../images/restaurant.jpg);
    background-size: cover;
}
.darken {
    background-image:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
            ),
            url(../images/restaurant.jpg);
    margin: 0;
    font-size: 6em;
    text-align: center;
    color: white;
    padding-top: 50px;
    position: relative;
    z-index: 1;
}

.srodek{
    margin-top: 200px;
}